<h1>Editing Merchant Application</h1>

<%= render 'form', merchant_application: @merchant_application %>

<%= link_to 'Show', @merchant_application %> |
<%= link_to 'Back', merchant_applications_path %>
