<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merchant_application.name %>
</p>

<%= link_to 'Edit', edit_merchant_application_path(@merchant_application) %> |
<%= link_to 'Back', merchant_applications_path %>
